// Login page
// bg color
.login {
    background: lighten($brand-primary, 30%);
    background: url(../img/login_back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .logo {
        margin: 0 auto;
        margin-top: 60px;
        padding: 15px;
        text-align: center;
    }

    .container {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        overflow: hidden;

        h3 {
            color: #4db3a5;
            text-align: center;
            font-size: 28px;
            font-weight: 400 !important;
        }

        h4 {
            color: #555;
        }

        .hint {
            color: #999;
            padding: 0;
            margin: 15px 0 7px 0;
        }

        .login-form,
        .forget-form {
            float: right;
            width: 350px;
            background: white;
            padding: 30px;
            padding-top: 0px;
            margin: 0px;
            margin-bottom: 10px;
            box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
        }

        .register-form {
            background: white;
            padding: 30px;
            padding-top: 0px;
            margin: 80px 50px 10px 50px;
            box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
            position: relative;

            .nav-tabs,
            .tab-content {
                width: 500px;
                margin-left: auto;
                margin-right: auto;
            }

            .login-link {
                color: white;
                position: absolute;
                top: -40px;
                right: 0px;

                a {
                    display: inline-block;
                    padding: 5px 10px;
                    border: solid 2px white;
                    color: white;
                    margin-left: 5px;
                    &:hover {
                        background: white;
                        color: #666;
                    }
                }
            }
        }

        .form-control {
            border: none;
            color: #8290a3;
            border: 1px solid #dde3ec;

            &:focus, &:active {
                border: 1px solid #c3ccda;
            }

            .btn {
                box-shadow: none;
            }
        }

        .login-form,
        .forget-form {
            .form-control {
                height: 43px;
            }

            .input-group-btn {
                .btn {
                    height: 43px;
                }
            }
        }

        .input-icon {
            i {
                color: $brand-primary;
                font-size: 25px;
                width: 25px;
                height: 34px;
                margin: 5px 2px 4px 10px;
            }
            .form-control {
                padding-left: 40px;
            }
        }

        select.form-control {
            padding-left: 9px;
            padding-right: 9px;
        }

        .form-title {
            background: $brand-primary;
            color: white;
            font-size: 18px;
            padding: 15px;
            margin-top: 0px;
            margin-bottom: 25px;
            margin-left: -30px;
            margin-right: -30px;
        }

        .form-actions {
            clear: both;
            border: 0px;
            padding: 0px 30px;
            margin-left: -30px;
            margin-right: -30px;

            .checkbox {
                margin-left: 0;
                padding-left: 0;
            }

            .btn {
                margin-top: 1px;
            }
        }        

        .forget-password {
            font-size: 14px;
            float: right;
            display: inline-block;
            margin-top: 10px;
        }

        .check {
            color: #8290a3;
        }

        .rememberme {
            margin-left: 8px;
            margin-top: 10px;
        }

        .create-account {
            margin: 0 -40px -40px -40px;
            padding: 15px 0 17px 0;
            text-align: center;
            background-color: #6c7a8d;
            -webkit-border-radius: 0 0 7px 7px;
            -moz-border-radius: 0 0 7px 7px;
            -ms-border-radius: 0 0 7px 7px;
            -o-border-radius: 0 0 7px 7px;
            border-radius: 0 0 7px 7px;

            p a {
                font-weight: 600;
                font-size: 14px;
                color: #c3cedd;
            }

            a {
                display: inline-block;
                margin-top: 5px;
            }
        }

        .other-links {
            text-align: center;
            > div {
                margin-top: 5px;
                padding-top: 8px;

                a {
                    color: $brand-primary;
                    &:hover {
                        color: #333;
                    }
                }
            }
        }
    } 

    .login-options {
        margin-bottom: 30px;
        overflow: hidden;
    }

    .login-options h4 {
        float: left;
        font-weight: 600;
        font-size: 15px;
        color: #7d91aa !important;
    }

    // footer copyright
    .copyright {
        text-align: center;
        margin: 0 auto 30px 0;
        padding: 10px;
        color: white;
        font-size: 13px;
    }
}

.register {
    overflow-y: auto;
}

@media (max-width: 440px) {
    // Login page
    .login .logo {
        margin-top: 10px;
    }

    .login .content {
        width: 280px;
        margin-top: 10px;
    }

    .login .content h3 {
        font-size: 22px;
    }

    .forget-password {
        display: inline-block;
        margin-top: 20px;
    }

    .login-options .social-icons {
        float: left;
        padding-top: 3px;
    }

    .login .checkbox {
        font-size: 13px;
    }
}
