img.avartar {
    width: 60px;
    height: 60px;
    border-radius: 100% !important;
}

img.small-avartar {
    width: 20px;
    height: 20px;
    border-radius: 100% !important;
}

img.mini-avartar {
    width: 16px;
    height: 16px;
    border-radius: 100% !important;
}

img.large-avartar {
    width: 150px;
    height: 150px;
    border-radius: 100% !important;
}

img.small-cavartar {
    width: 20px;
    height: 20px;
}

img.mini-cavartar {
    width: 16px;
    height: 16px;
}

img.large-cavartar {
    width: 150px;
    height: 150px;
}